/*** Header Styling ***/

#main-header{
        text-align: center;
        background-color: black;
        color: white;
        padding: 10px;
}

/*** Body Styling ***/

body{
        background-color: #f4f4f4;
        color:#555555;
        
        font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: normal;
        /*** Same as Above ***/
        font: normal 16px Arial, Helvetica, sans-serif;
}

/*** Footer Styling ***/

#main-footer{
        text-align: center;
        font-size: 18px;
}